.song-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .song-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .song-card img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  
  .song-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .song-card p {
    margin-bottom: 5px;
  }
  