.playlist-list {
  margin: 20px;
   .card {
      &.happy {
        background-color: #ffd966;
      }
      &.sad {
        background-color: #0070c0;
      }
      &.calm {
        background-color: #8ea9db;
      }
      &.romantic {
        background-color: #e06666;
      }
      &.upbeat {
        background-color: #70ad47;
      }
      &.chill {
        background-color: #b4a7d6;
      }
      &.talkative {
        background-color: #ffc000;
      }
      &.unknown {
        background-color: #6d6d6d;
      }
    }
  }
  


h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
  // width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

h2 {
  font-size: 18px;
  margin: 0;
}

p {
  margin: 5px 0;
}
.modal-dialog {
  max-width: 80%;
  margin: 10%;
}

.modal-content {
  border-radius: 0;
}
.header {
  text-align: center;
  margin-top: 50px;
}

.header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.header p {
  font-size: 18px;
  color: #666;
}