<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your Playlists</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" *ngFor="let playlist of playlists">
      <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ playlist.name }}</h5>
          <p class="card-text">Mood: {{ playlist.mood }}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#playlistModal" (click)="showPlaylistSongs(playlist)">View Songs</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Playlist Modal -->
<div class="modal fade" id="playlistModal" tabindex="-1" role="dialog" aria-labelledby="playlistModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="playlistModalLabel">{{ selectedPlaylist?.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="selectedPlaylist = null">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Mood: {{ selectedPlaylist?.mood }}</p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let song of selectedPlaylist?.songs">{{ song }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
